@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.project {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background: $bgColor;
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 10px;

  .imgContainer {
    border-radius: 4px;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;

    &:hover a {
      visibility: visible;
      opacity: 1;
      cursor: pointer;
    }

    .links {
      @include text($fontFamilyText, 0.9em, 400, 1.2, $linksColor);
      padding: 10px 20px;
      border: solid 1px $primaryColor;
      background-color: $primaryColor;
      position: relative;
      border-radius: 10px;
      visibility: hidden;
      text-decoration: none;
    }
  }

  .projectInfo {
    .projectTitle {
      @include text($fontFamilyTitle, 21px, 600, 1.2, $titleTextColor);
      text-transform: uppercase;
      margin: 24px 0 12px;
    }

    .description {
      @include text($fontFamilyText, 0.9em, 400, 2, $textColor);
      margin: 0;
    }

  }
}










