.footerBlock{
    height: 200px;
    background-color: thistle;
}

.footerContainer{
    flex-direction: column;
    flex-wrap: nowrap;
}

.socialMedias{
    border: solid 1px;
    width: 280px;
    display: flex;
    justify-content: space-evenly;
}

.socialMedias a{
    width: 50px;
    height: 50px;
    background-color: gray;
}