.contactsBlock{
    background-color: lemonchiffon;
}

.contactsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
}

.title{
    background-color: gray;
}

.form{
    width: 240px;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    padding: 10px;
}